{% extends "eliveapp/base.html" %}
{% block title %}Changement de mot de passe{% endblock %}

{% block content %}
{% if validlink %}
<p>Veuillez entrer 2 fois votre nouveau mot de passe.
</p>
<form action="" method="post" role="form">
				<div style="display:none">
						<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
				</div>
				<table>
						<tr>
								<td>{{ form.new_password1.errors }}
										<label for="id_new_password1">Nouveau mot de passe </label></td>
								<td>{{ form.new_password1 }}</td>
						</tr>
						<tr>
								<td>{{ form.new_password2.errors }}
										<label for="id_new_password2">Confirmer le mot de passe </label></td>
								<td>{{ form.new_password2 }}</td>
						</tr>
						<tr>
								<td></td>
								<td><input type="submit" class="btn btn-default" value="Changer de mot de passe" /></td>
						</tr>
				</table>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>Le lien de renouvellement du mot de passe est invalide, <br />
car il a sûrement déjà été utilisé. <br />
Veuillez redemander le renouvellement du mot de passe.</p>
{% endif %}
{% endblock %}
