{% extends "eliveapp/base.html" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block content %}
<div class="header">
		<h3 class="text-muted">Réinitialisation du mot de passe initiée.</h3>
</div>
<div class="row">
		<!-- Display the success message on successful submission and validation
		  of the contact form data.
		-->
		<div class="alert alert-success">
			Réinitialisation du mot de passe initiée. Les instructions de réinitialisation vous ont été envoyées par mail.
		</div>
</div>
{% endblock %}
